@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";


:root {
  --font-display: "Poppins", sans-serif;
  --color-primary: #875cf5;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white hover:bg-purple-600;
  background-color: var(--color-primary);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  background: linear-gradient(-45deg, #6a11cb, #2575fc, #ff758c, #ff7eb3);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}
